body,
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

body {
  background-color: #1c2541;
  font-family: Arial, Helvetica, sans-serif; }

.header {
  width: 100%;
  margin: 1rem auto 0; }
  @media (min-width: 768px) {
    .header {
      width: 40rem; } }

.header__title {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  text-align: center; }
  @media (min-width: 768px) {
    .header__title {
      font-size: 4rem; } }

.header__subtitle {
  color: #7a5fb9;
  font-size: 1rem;
  margin: 0 2.5rem;
  text-align: right; }
  @media (min-width: 768px) {
    .header__subtitle {
      font-size: 2rem;
      margin: 0 5rem; } }

.sponsored {
  background-color: #0b132b;
  margin: 1rem auto;
  width: 100%; }
  @media (min-width: 768px) {
    .sponsored {
      width: 50%; } }

.sponsored__users {
  border: 1px solid #2a49a5;
  overflow: auto; }

.sponsored__streamer {
  color: #3a506b;
  font-size: .7rem;
  font-weight: 700;
  padding: .3rem; }

.sponsored__tag {
  background: #1c2541;
  color: #5bc0be;
  font-size: .6rem;
  font-weight: 700;
  text-align: right; }
  .sponsored__tag p {
    margin: 0;
    padding: .2rem; }

.live {
  background-color: #122047;
  overflow: hidden;
  color: #6fffe9; }

.live__bullet {
  color: #BCE784;
  text-shadow: 0 0 .3rem #BCE784;
  font-size: 2rem;
  line-height: 1rem;
  margin: 0 .2rem;
  vertical-align: middle; }

.streamers {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 2rem;
  flex-wrap: wrap;
  width: 100%; }
  @media (min-width: 768px) {
    .streamers {
      width: 80%; } }

.streamers__card {
  background: #0b132b;
  border: 2px solid #1b2e68;
  box-shadow: 1rem 1rem 0.2rem #0d111d;
  color: #6fffe9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 1rem 1rem 0;
  padding: .5rem;
  vertical-align: top; }
  @media (min-width: 768px) {
    .streamers__card {
      margin: 1rem;
      width: 20rem;
      height: 20rem; } }
  .streamers__card p {
    margin: 0; }

.streamers__current {
  font-size: .8rem;
  font-weight: 700;
  margin-bottom: 2rem; }

.streamers__data {
  color: #7a5fb9;
  display: flex;
  font-size: .8rem;
  font-weight: 700;
  justify-content: space-between; }

.wrapper {
  width: 95%;
  margin: auto; }
  @media (min-width: 768px) {
    .wrapper {
      width: 100%; } }
